
<main class="app-content">
<app-header></app-header> 
	<!-- <app-game-setup></app-game-setup> -->
	
	 
	<router-outlet></router-outlet>
    <!-- <app-home></app-home> -->
	
	<!-- Page content appears here. Add components or routes as needed. -->
 </main>
<!-- <app-ludo-board></app-ludo-board> -->
<!-- <app-room-connect-generate></app-room-connect-generate> -->
<!-- <app-signup></app-signup>  -->

<!-- <app-ludo-board ngSkipHydration></app-ludo-board> -->
 <!-- <app-web-socket-connectivity></app-web-socket-connectivity> -->
  <!-- <h1>Vishal</h1>
 <app-game-setup></app-game-setup> -->