.home {
    text-align: left;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 1;
}

.home h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color: #0b3a4a;
    margin: 0;
}

.home p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333;
    margin: 0;
}

.ludo-image {
    width: 500px;
    height: 500px;
    /* flex-shrink: 0; */
}

button {
    position: absolute;
    /* bottom: 20px; */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    font-size: 28px;
    background-color: #84df16;
    color: rgb(13, 6, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin:50px;
}

button:hover {
    color: white;
    background-color: #396704;
    box-shadow: 0 6px 8px rgba(3, 233, 245, 0.15);
}
