<div>
    <div class="containers">
        <h1>Let's Play Ludo!</h1>
    </div>
    <div class="RoomCJ">
        
    <div class="createRoom">
        <h1>Create the Room</h1>

        <li>
            <label for="roomName">Room Name:</label>
            <input type="text" id="roomName" name="roomName" />
        </li>

        <li>
            <label for="maxPlayers">Max Players:</label>
            <select id="maxPlayers" name="maxPlayers">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </li>
    </div>
    <div class="joinRoom">
        <h1>Join the Room</h1>
        <li>
            <label for="roomCode">Room Code:</label>
            <input type="text" id="roomCode" name="roomCode" />
        </li>

        <li>
            <label for="playerName">Player Name:</label>
            <input type="text" id="playerName" name="playerName" />
        </li>
    </div>
</div>
</div>

<div class="containers">
    <h1>Enjoy Playing Locally</h1>
    <button class="local-btn" (click)="playLocally()">Play Locally</button>
</div>
