.RoomCJ{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vh;
    place-content: 10px;
    border-bottom: 2px solid rgb(244, 239, 239);
    /* border: 0.5px solid rgba(209, 8, 8, 0.814); */
}
.createRoom, .joinRoom{
    border: 2px solid rgb(244, 239, 239);
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(234, 205, 205, 0.3);
    border-radius: 10px;
}
.createRoom h1, .joinRoom h1{
    font-size: 24px;
    margin-bottom: 20px;
}
#roomName{
    background-color: rgb(190, 203, 249);
}
#roomCode{
    background-color: rgb(190, 203, 249);
}
input {
  color:white;
}
#playerName{
    background-color: rgb(190, 203, 249);
}

.containers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.local-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
